/* aside  */
aside {
  border: 0.01rem solid #484848;
  display: flex;
  justify-content: center;
  z-index: 2;
}

/* map icon  */

.map {
  position: fixed;
  bottom: 7rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  border: 0.01rem solid #484848;
  width: 8.5rem;
  height: 4rem;
  background-color: #222222;
  color: white;
  border-radius: 3rem;
  padding: 0.75rem;
  box-shadow: 0.005rem 0.005rem 3rem 0.00001rem rgb(163, 163, 163);
  transition: transform 0.2s;
  cursor: pointer;
}

.map a {
  display: flex;
  margin: 0.25rem;
}

.map-item {
  height: 2rem;
  margin: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  align-self: center;
  padding: 0.1rem;
}

.map img {
  width: 1.5rem;
  height: 1.5rem;
}

.map:hover {
  transform: scale(1.035);
}

/* mini navigation bar  */

.mini-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6rem;
  background-color: white;
  border-top: 0.001rem solid rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 500;
}

.nav-item {
  margin: 1.25rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  height: 75%;
  filter: grayscale(100%);
}

.nav-item:hover,
.nav-item:focus-within,
.nav-item:active {
  filter: grayscale(0%);
}

.nav-item a {
  text-align: center;
  width: 3rem;
  height: 100%;
}

.nav-icon {
  width: 2.5rem;
  height: 2.35rem;
  margin: auto;
}

.mini-nav p {
  margin: auto;
  margin-top: 0.5rem;
}

/* responsive elements  */

@media screen and (min-width: 750px) {
  .mini-nav {
    display: none;
  }

  .map {
    bottom: 4rem;
    width: 11rem;
    height: 5rem;
    border-radius: 3rem;
    padding: 0.5rem;
  }
}
