/* footer  */

footer {
  padding-bottom: 12rem;
  background-color: #f3f3f3;
  font-size: 1.5rem;
  border-top: 0.01rem solid rgb(216, 216, 216);
  line-height: 2;
}

footer a {
  color: rgb(39, 39, 39);
  font-weight: 300;
}

footer .support {
  border-bottom: 0.01rem solid rgb(230, 230, 230);
}

footer .config {
  display: flex;
  gap: 2rem;
  align-items: center;
}

footer > div {
  padding: 2rem;
}

footer a:hover {
  text-decoration: underline;
}

.ancillary .icon {
  width: 2rem;
}
