* {
  /* border: 0.01rem solid grey; */
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  padding-top: 0.5rem;
  background-color: white;
  z-index: 1;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

.sub-header {
  display: flex;
  justify-content: center;
}

.sub-header > div {
  display: flex;
  /* border: 0.01rem solid grey; */
}

.middle-container {
  display: flex;
  flex-grow: 2;
}

.end-container {
  display: none;
  /* border: 0.01rem solid grey; */
}

.end-container > div {
  display: none;
}

.end-container img {
  width: 1.75rem;
}

.end-container h4 {
  line-height: 1.5;
  font-size: 1.35rem;
  font-weight: 600;
}

.end-container .world {
  display: none;
  width: 4rem;
  height: 4rem;
  border-radius: 3rem;
}

.end-container .text {
  display: none;
  width: 15rem;
  height: 4rem;
  border-radius: 3rem;
  margin-left: 1rem;
}

.end-container .world:hover,
.end-container .text:hover {
  background-color: rgb(243, 243, 243);
}

.top-menu {
  border: 0.01rem solid rgb(197, 197, 197);
  width: 7.5rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.top-profile {
  position: relative;
}

.popup-menu {
  display: none;
  position: absolute;
  top: 4.5rem;
  left: -18rem;
  font-size: 1.35rem;
  width: 240px;
  height: 240px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  border-radius: 1rem;
  /* border: 0.01rem solid rgb(243, 243, 243); */
  box-shadow: 0.005rem 0.005rem 1rem 0.00001rem rgb(207, 207, 207);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.top-menu:focus-within .popup-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-menu a {
  width: 100%;
  height: 100%;
}

.popup-menu a:hover {
  background-color: rgb(244, 244, 244);
}

.popup-menu a p {
  margin: auto;
  margin-left: 2rem;
}

.top-profile a {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 0;
  filter: grayscale(100%);
}

.top-profile a .menu-icon {
  width: 1.5rem;
}

.top-profile a .login-icon {
  width: 3rem;
}

.logo {
  height: 5.25rem;
  width: 5.25rem;
  display: none;
  /* border: 0.01rem solid grey; */
  margin-left: 1.75rem;
  padding: 0.75rem;
}

.airbnb-name {
  display: none;
  font-size: 1.15rem;
  color: #ff5a5f;
  /* border: 0.01rem solid grey; */
  text-align: center;
}

.top-bar {
  border: 0.01rem solid rgb(233, 233, 233);
  /* background-color: orange; */
  display: flex;
  width: 92.5%;
  margin: auto;
  height: 5.25rem;
  border-radius: 10rem;
  padding: 0.75rem;
  gap: 1rem;
  box-shadow: 0.005rem 0.005rem 3rem 0.00001rem rgb(233, 233, 233);
  margin-bottom: 0.75rem;
}

.desktop-options {
  display: none;
  width: 100%;
  padding: 0.25rem;
  /* border: 0.01rem solid grey; */
}

.desktop-options .text,
.desktop-options .last-text {
  padding: 0.5rem;
  /* border: 0.01rem solid grey; */
  text-align: center;
  flex-grow: 10;
  border-right: 0.01rem solid rgb(233, 233, 233);
}

.desktop-options .last-text {
  border-right: none;
  padding-right: 0;
}

.desktop-options .last-text h4 {
  font-weight: 300;
}

.desktop-options h4 {
  line-height: 1.5;
  font-size: 1.35rem;
  font-weight: 600;
}

.desktop-options .search {
  /* border: 0.01rem solid grey; */
  border-radius: 10rem;
  width: 3rem;
  height: 3rem;
  padding-top: 0.9rem;
  padding-left: 0.65rem;
  background-color: #ff5a5f;
}

.desktop-options .search .icon {
  /* border: 0.01rem solid grey; */
  width: 1.25rem;
  height: 1.25rem;
  filter: invert(100%);
}

.search-container {
  /* flex-grow: 1; */
  /* border: 0.01rem solid grey; */
  display: flex;
  justify-content: flex-start;
  /* flex-grow: 1; */
  width: 3rem;
  /* margin-bottom: 0.5; */
}

.search {
  background-color: inherit;
  /* width: 100%; */
  height: 100%;
  align-self: flex-start;
  padding-left: 0.75rem;
  /* border: 0.01rem solid grey; */
}

.search .icon {
  width: 100%;
  height: 100%;
  min-width: 1.75rem;
  max-width: 1.75rem;
  /* margin: auto; */
  /* border: 0.01rem solid grey; */
}

.top-bar-text {
  margin: auto;
  padding: 0;
  margin: 0;
  /* border: 0.01rem solid grey; */
  line-height: 1.5;
  flex-grow: 10;
  font-size: 1.25rem;
  font-weight: 300;
}

.top-bar-text h4 {
  font-size: 1.35rem;
  font-weight: 600;
}

.top-bar-text p {
  color: rgb(83, 83, 83);
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  cursor: pointer;
  /* border: 0.01rem solid grey; */
  /* background-color: aqua; */
}

.filter {
  background-color: inherit;
  height: 3.5rem;
  width: 3.5rem;
  /* margin: auto; */
  /* display: flex;
    justify-content: center; */
  border: 0.01rem solid rgb(212, 212, 212);
  border-radius: 2rem;
}

.filter a {
  display: flex;
  height: 100%;
  width: 100%;
}

.filter .icon {
  height: 55%;
  width: 55%;
  margin: 0.75rem;
  /* margin: auto; */
  /* border: 0.01rem solid grey; */
}

/* scroll bar stuff  */

.scroll-bar {
  display: flex;
  position: relative;
  gap: 1.5rem;
  height: 5.75rem;
  width: 92.5%;
  margin: auto;
  margin-top: 0.75rem;
  overflow: auto;
  white-space: nowrap;
  border-bottom: 0.001rem solid rgb(225, 225, 225);
  /* border: 0.01rem solid grey; */
}

.scroll-bar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 6rem; */
  padding: 0.5rem;
  height: 90%;
  /* border: 0.01rem solid grey; */
  /* margin: 0.25rem; */
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  filter: opacity(60%);
}

.desktop-filter {
  position: fixed;
  display: none;
  right: 2rem;
  top: 10.5rem;
  z-index: 2;
  background-color: white;
  width: 10rem;
  height: 5rem;
  border: 0.01rem solid rgb(205, 205, 205);
  border-radius: 1rem;
}

.blur {
  display: none;
  /* border: 0.01rem solid grey; */
  width: 3rem;
  height: 5rem;
  position: fixed;
  right: 11rem;
  top: 10.5rem;
  z-index: 2;
  background-color: white;
}

.desktop-filter a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  /* border: 0.01rem solid grey; */
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 1rem;
  background-color: white;
}

.desktop-filter img {
  width: 2rem;
  height: 2rem;
}

.scroll-bar > div .icon {
  width: 2rem;
  height: 2rem;
  margin: auto;
  margin-bottom: 0.5rem;

  /* border: 0.01rem solid grey; */
}

.scroll-bar > div:hover,
.scroll-bar > div:focus-within {
  filter: opacity(100%);
  /* color: black; */
}

.line {
  width: 100%;
  border: 0.0001rem solid rgb(224, 224, 224);
  box-shadow: 0.01rem 0.01rem 1.5rem 0.0001rem rgb(221, 221, 221);
}

/* scrollbar only */

/* width */
header ::-webkit-scrollbar {
  height: 0.5rem;
  width: 100%;
}

/* Track */
header ::-webkit-scrollbar-track {
  border-radius: 1rem;
}

/* Handle */
header ::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: black;
  -webkit-width: 1;
}

@media screen and (min-width: 750px) {
  header {
    margin-top: 0;
    padding-top: 0;
    border-bottom: none;
  }

  .scroll-bar {
    border-bottom: none;
    width: 95%;
  }

  .sub-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 0.01rem solid rgb(212, 212, 212); */
    border-bottom: 0.01rem solid rgb(212, 212, 212);
    height: 8rem;
    margin-top: 0;
    width: 100%;
  }

  .scroll-bar {
    height: 10rem;
    align-items: center;
  }

  .logo {
    display: flex;
  }

  .top-bar {
    width: 350px;
    margin: 0;
    margin-left: 1.75rem;
  }

  .top-bar:hover,
  .top-menu:hover {
    box-shadow: -0.1rem 0.1rem 1rem 0.1rem rgb(235, 235, 235);
  }

  .desktop-options {
    display: flex;

    justify-content: space-between;
  }

  .search-container {
    display: none;
  }

  .top-bar-text {
    display: none;
  }

  .filter-container {
    position: fixed;
    display: flex;
    justify-content: end;
    right: 2rem;
    top: 10.5rem;
    z-index: 2;
    background-color: white;
    width: 10rem;
    height: 5rem;
    border: 0.01rem solid rgb(205, 205, 205);
    border-radius: 1rem;
  }

  .desktop-filter {
    display: flex;
    justify-content: end;
  }

  .blur {
    display: initial;
  }

  .end-container {
    display: flex;
    justify-content: flex-end;
    /* border: 0.01rem solid grey; */
    align-items: center;
    gap: 0.75rem;
    padding-right: 1.75rem;
  }

  .end-container .world {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .end-container .text {
    /* border: 0.01rem solid grey; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .end-container > div {
    display: flex;
  }
}

@media screen and (min-width: 950px) {
  .sub-header {
    justify-content: center;
  }

  .sub-header > div {
    width: 33.33%;
  }

  .airbnb-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .middle-container {
    /* border: 0.01rem solid rgb(212, 212, 212); */
    justify-content: center;
  }
}
