/* main body  */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* grid container for listings  */

.grid-container {
  margin: 1.5rem;
  margin-top: 16rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-auto-flow: row;
  gap: 2.25rem;
  height: 100%;
  width: 90%;
  border-bottom: 0.01rem solid rgb(223, 223, 223);
}

/* individual listings  */

.listing {
  aspect-ratio: 4/5;
  width: 100%;
  border-radius: 1.25rem;
  position: relative;
}

.picture-container {
  width: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
}

.picture {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 1.25rem;
}

.listing-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 2.25rem;
  filter: opacity(65%);
}

.listing-icon:hover,
.listing-icon:focus-within {
  filter: opacity(100%);
}

.listing-summary {
  display: flex;
  justify-content: space-between;
}

.listing-summary h5 {
  font-size: 1.45rem;
  font-weight: 600;
}

.rating {
  display: flex;
  width: 25%;
  justify-content: end;
  align-items: center;
}

.star-icon {
  min-width: 0.5rem;
  max-width: 1.25rem;
}

.rating span {
  padding-left: 0.5rem;
  font-size: 1.4rem;
}

.listing-details {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(87, 87, 87);
}

.listing-details p:nth-child(3) {
  font-weight: 600;
  text-decoration: underline;
  color: initial;
  margin-top: 0.5rem;
}

/* show more  */

.show-more {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.show-more a {
  display: flex;
  width: 13rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

.show-more .button {
  border: 0.01rem solid #222222;
  border-radius: 1rem;
  width: 13rem;
  height: 5rem;
  cursor: pointer;
  background-color: white;
  font-weight: 500;
}

.show-more .button:hover,
.show-more .button:focus-within {
  background-color: rgb(243, 243, 243);
}

/* scrollbar only */

/* width */
main ::-webkit-scrollbar {
  height: 0.5rem;
  width: 100%;
}

/* Track */
main ::-webkit-scrollbar-track {
  border-radius: 1rem;
}

/* Handle */
main ::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: black;
  -webkit-width: 1;
}

/* respnsive elements  */

@media screen and (min-width: 375px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

@media screen and (min-width: 750px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 22rem;
    width: 92.5%;
  }
}

@media screen and (min-width: 1125px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    width: 95%;
  }
}

@media screen and (min-width: 1300px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
}

@media screen and (min-width: 1550px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
