/* main body  */

.grid-container {
  margin: 1.5rem;
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: row;
  border: 0.01rem solid grey;
  gap: 3rem;
  height: 100%;
}

.listing {
  border: 0.01rem solid grey;
  aspect-ratio: 4/5;
  width: 100%;
  border-radius: 1.25rem;
}

.picture-container {
  width: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
  /* aspect-ratio: 1/1; */
  /* border: 0.01rem solid grey; */
  /* padding-bottom: 100%; */
  /* position: relative; */
}

.picture {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1/1;
  object-fit: cover;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.listing-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 2.25rem;
  filter: opacity(65%);
  /* background-color: white; */
}

.listing-icon:hover,
.listing-icon:focus-within {
  filter: opacity(100%);
}

.listing-summary {
  display: flex;
  justify-content: space-between;
  /* border: 0.01rem solid grey; */
}

.location {
  /* border: 0.01rem solid grey; */
}

.rating {
  /* border: 0.01rem solid grey; */
  display: flex;
  width: 25%;
  justify-content: end;
}

.star-icon {
  min-width: 0.5rem;
  max-width: 1.25rem;
}

.rating span {
  padding-left: 0.5rem;
}

/* show more  */

.show-more {
  width: 100%;
  /* height: 12rem; */
  /* border: 0.01rem solid grey; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.show-more a {
  display: block;
  width: 13rem;
  height: 5rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
  /* border: 0.01rem solid grey; */
}

.show-more button {
  border: 0.01rem solid #222222;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: white;
  font-weight: 500;
}

.show-more button:hover,
.show-more button:focus-within {
  background-color: rgb(243, 243, 243);
}

/* inspiration  */

.inspiration {
  margin-bottom: 5rem;
}

.inspiration-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-auto-flow: row;
}

/* scrollbar only */

/* width */
main ::-webkit-scrollbar {
  height: 0.5rem;
  width: 100%;
}

/* Track */
main ::-webkit-scrollbar-track {
  border-radius: 1rem;
}

/* Handle */
main ::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: black;
  -webkit-width: 1;
}

@media screen and (min-width: 375px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
}

@media screen and (min-width: 750px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
}

@media screen and (min-width: 1150px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
}

@media screen and (min-width: 1300px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
}

@media screen and (min-width: 1550px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
