@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #222222;
}

* {
  /* border: 0.01rem solid grey; */
}

div {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0;
  /* margin: auto; */
}

header {
  position: sticky;
  top: 0;
  margin-top: 1rem;
  background-color: white;
  z-index: 1;
}

.top-bar {
  border: 0.01rem solid rgb(233, 233, 233);
  /* background-color: orange; */
  display: flex;
  width: 92.5%;
  margin: auto;
  height: 5.5rem;
  border-radius: 10rem;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0.005rem 0.005rem 3rem 0.00001rem rgb(233, 233, 233);
}

.search-container {
  /* flex-grow: 1; */
  /* border: 0.01rem solid grey; */
  display: flex;
  justify-content: flex-start;
  /* flex-grow: 1; */
  width: 4rem;
}

.search {
  background-color: inherit;
  /* width: 100%; */
  height: 100%;
  align-self: flex-start;
  /* border: 0.01rem solid grey; */
}

.search .icon {
  width: 100%;
  height: 100%;
  min-width: 3.25rem;

  /* margin: auto; */
  /* border: 0.01rem solid grey; */
}

.top-bar-text {
  margin: auto;
  padding: 0;
  margin: 0;
  /* border: 0.01rem solid grey; */
  line-height: 1.5;
  flex-grow: 10;
  font-size: 1.25rem;
  font-weight: 300;
}

.top-bar-text h4 {
  font-size: 1.35rem;
  font-weight: 600;
}

.top-bar-text p {
  color: rgb(83, 83, 83);
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  /* border: 0.01rem solid grey; */
  /* background-color: aqua; */
}

.filter {
  background-color: inherit;
  height: 3.5rem;
  width: 3.5rem;
  /* margin: auto; */
  /* display: flex;
  justify-content: center; */
  border: 0.01rem solid rgb(212, 212, 212);
  border-radius: 2rem;
}

.filter .icon {
  height: 55%;
  width: 55%;
  margin: 0.75rem;
  /* margin: auto; */
  /* border: 0.01rem solid grey; */
}

/* scroll bar stuff  */

.scroll-bar {
  display: inline-block;
  height: 6.5rem;
  width: 100%;
  margin-top: 1rem;
  overflow: auto;
  white-space: nowrap;
  /* border: 0.01rem solid grey; */
}

.scroll-bar > div {
  display: inline-block;
  min-width: 6.25rem;
  padding: 0.5rem;
  height: 90%;
  /* border: 0.01rem solid grey; */
  /* margin: 0.25rem; */
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  filter: opacity(60%);
}

.scroll-bar > div .icon {
  width: 2.25rem;
  height: 2.25rem;
  margin: auto;
  margin-bottom: 0.5rem;

  /* border: 0.01rem solid grey; */
}

.scroll-bar > div:hover,
.scroll-bar > div:focus-within {
  filter: opacity(100%);
  /* color: black; */
}

.line {
  width: 100%;
  border: 0.0001rem solid rgb(224, 224, 224);
  box-shadow: 0.01rem 0.01rem 1.5rem 0.0001rem rgb(221, 221, 221);
}

/* scrollbar only */

/* width */
header ::-webkit-scrollbar {
  height: 0.5rem;
  width: 100%;
}

/* Track */
header ::-webkit-scrollbar-track {
  border-radius: 1rem;
}

/* Handle */
header ::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: black;
  -webkit-width: 1;
}

/* main body  */

.grid-container {
  margin: 1.5rem;
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-auto-flow: row;
  /* border: 0.01rem solid grey; */
  gap: 3rem;
  height: 100%;
}

.listing {
  /* border: 0.01rem solid grey; */
  min-width: 100px;
  aspect-ratio: 16/20;
  border-radius: 1.25rem;
}

.picture-container {
  width: 100%;
  aspect-ratio: 1/1;
  /* border: 0.01rem solid grey; */
  border-radius: 1.25rem;
  position: relative;
}

.picture {
  aspect-ratio: 1/1;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
  border-radius: 1.25rem;
}

.listing-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 2.25rem;
  filter: opacity(65%);
  /* background-color: white; */
}

.listing-icon:hover,
.listing-icon:focus-within {
  filter: opacity(100%);
}

.listing-summary {
  display: flex;
  justify-content: space-between;
  /* border: 0.01rem solid grey; */
}

.location {
  /* border: 0.01rem solid grey; */
}

.rating {
  /* border: 0.01rem solid grey; */
  display: flex;
  width: 25%;
  justify-content: end;
}

.star-icon {
  min-width: 0.5rem;
  max-width: 1.25rem;
}

.rating span {
  padding-left: 0.5rem;
}

/* show more  */

.show-more {
  width: 100%;
  /* height: 12rem; */
  /* border: 0.01rem solid grey; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.show-more a {
  display: flex;
  width: 13rem;
  height: 5rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
  /* border: 0.01rem solid grey; */
}

.show-more button {
  border: 0.01rem solid #222222;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: white;
  font-weight: 500;
}

.show-more button:hover,
.show-more button:focus-within {
  background-color: rgb(243, 243, 243);
}

/* footer  */

/* aside  */
aside {
  border: 0.01rem solid #484848;
  display: flex;
  justify-content: center;
}

.map {
  position: fixed;
  bottom: 9rem;
  /* left: 50%; */
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  border: 0.01rem solid #484848;
  width: 8.5rem;
  height: 4rem;
  background-color: #222222;
  color: white;
  border-radius: 3rem;
  padding: 0.75rem;
  box-shadow: 0.005rem 0.005rem 3rem 0.00001rem rgb(163, 163, 163);
  transition: transform 0.2s;
  cursor: pointer;
}

.map a {
  display: flex;
  margin: 0.25rem;
}

.map-item {
  height: 2rem;
  /* border: 0.01rem solid #a3a3a3; */
  margin: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  align-self: center;
  padding: 0.1rem;
}

.map img {
  width: 1.5rem;
  height: 1.5rem;
  /* border: 0.01rem solid #a3a3a3; */
}

.map:hover {
  transform: scale(1.035);
}

.mini-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7rem;
  background-color: white;
  border: 0.01rem solid #a3a3a3;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
}

.nav-item {
  margin: 1.25rem;
  /* border: 0.01rem solid #a3a3a3; */
  height: 75%;
  filter: grayscale(100%);
}

.nav-item:hover,
.nav-item:focus-within {
  filter: grayscale(0%);
}

.nav-item a {
  text-align: center;
  width: 3rem;
  height: 100%;
  /* border: 0.01rem solid #a3a3a3; */
}

.nav-icon {
  width: 2.5rem;
  height: 2.35rem;
  margin: auto;

  /* border: 0.01rem solid #a3a3a3; */
}

.mini-nav p {
  margin: auto;
  margin-top: 0.5rem;
  /* border: 0.01rem solid #a3a3a3; */
}

/* inspiration  */

.inspiration {
  margin-bottom: 5rem;
}

.inspiration-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-auto-flow: row;
}

/* scrollbar only */

/* width */
main ::-webkit-scrollbar {
  height: 0.5rem;
  width: 100%;
}

/* Track */
main ::-webkit-scrollbar-track {
  border-radius: 1rem;
}

/* Handle */
main ::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: black;
  -webkit-width: 1;
}

/* footer  */

footer {
  margin-bottom: 20rem;
  background-color: #f1f1f1;
}
